.topbarContainer {
    background-color:#dcdcdc ;
    height:150px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    overflow:hidden;
}
.topbarLeft {
    flex: 3;
}
.topbarRight {
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.topbarRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topbarIconItem {
    background-color: #f0f0f0; /* ボタンの背景色 */
    border: none; /* ボーダーを消す */
    padding: 10px 20px; /* パディング */
    margin: 5px; /* マージン */
    cursor: pointer; /* マウスオーバー時にポインターを表示 */
    font-size: 16px; /* フォントサイズ */
    border-radius: 5px; /* 角を丸くする */
    transition: background-color 0.3s ease; /* 背景色の変化にトランジションをつける */
}

.topbarIconItem:hover {
    background-color: #e0e0e0; /* ホバー時の背景色 */
}
.topbarImg {
    width: 100px; /* 画像の幅 */
    height: 100px; /* 画像の高さ */
    object-fit: cover; /* 画像のアスペクト比を保ちながら、コンテナに収める */
    margin-left: 10px;
}

.topbarContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    z-index: 101; /* 確実にトップバーよりも上に表示されるようにする */
}

.topbarImg {
    position: relative;
    z-index: 102; /* 疑似要素より前に表示されるようにする */
    width: 100px; /* 必要に応じて画像の幅を指定 */
    height: 100px; /* 必要に応じて画像の高さを指定 */
    object-fit: cover; /* 画像のアスペクト比を保ちながら、コンテナに収める */
}

